<nav class="navbar-h bg-primary pt-0_75 pb-0_75 pb-sm-0">
  <div class="container">
    <div class="row">
      <div class="col-2 col-sm-4 mb-sm-1">
        <a href="index.html"
          ><img
            style="width: 80px"
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
        /></a>
      </div>
      <div class="col-sm-4 ml-auto d-flex d-sm-block">
        <div class="-mr-sm-0_75 -ml-sm-0_75">
          <ul class="h-100 d-flex flex-wrap g-4 g-sm-0 navbar text-align-c">
            <li class="border-sm col-sm-2">
              <a class="d-sm-block pt-sm-0_75 pb-sm-0_75" href="optical.html"
                >系列鏡框</a
              >
            </li>
            <li class="border-sm col-sm-2">
              <a class="d-sm-block pt-sm-0_75 pb-sm-0_75" href="stores.html"
                >門市據點</a
              >
            </li>
            <li class="border-sm col-sm-2">
              <a class="d-sm-block pt-sm-0_75 pb-sm-0_75" href="blogs.html"
                >部落格</a
              >
            </li>
            <li class="border-sm col-sm-2">
              <a class="d-sm-block pt-sm-0_75 pb-sm-0_75" href="qa.html"
                >常見問題</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
