<div class="container">
  <div class="row mb-5 mt-5 mb-sm-4 mt-sm-4">
    <div class="col-12 d-flex justify-content-c col-sm-4">
      <ul class="pagination d-flex text-align-c">
        <li class="pagination-up">
          <a href="#" class="whitespace-nowrap">上一頁</a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li class="pagination-down">
          <a href="#" class="whitespace-nowrap">下一頁</a>
        </li>
      </ul>
    </div>
  </div>
</div>
