<div class="container w-md-100">
  <div class="row">
    <div class="col-4 border-r text-align-c fs-2 product-nav">
      <a href="../pages/optical.html" class="text-black fw-medium fs-sm-1"
        >OPTICAL</a
      >
    </div>
    <div class="col-4 border-r text-align-c fs-2 product-nav">
      <a href="../pages/sunglasses.html" class="text-black fw-medium fs-sm-1"
        >SUNGLASSES</a
      >
    </div>
    <div class="col-4 text-align-c fs-2 product-nav" class="text-black">
      <a href="#" class="text-black fw-medium fs-sm-1">FUNCTIONAL</a>
    </div>
  </div>
</div>
