<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); %>
    <title>optical</title>
  </head>
  <body>
    <%- include('./layout/navbar'); %> <%- include('./layout/productNav'); %>
    <div class="d-flex">
      <picture>
        <source
          srcset="
            https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-1.png
          "
          media="(max-width: 768px)"
        />
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-1.png"
          alt=""
        />
      </picture>

      <picture>
        <source
          srcset="
            https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-2.png
          "
          media="(max-width: 768px)"
        />
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-2.png"
          alt=""
        />
      </picture>
    </div>
    <div class="container pt-5 pt-sm-2_5">
      <div class="row mb-2 mb-sm-1_5">
        <div class="col-12 text-align-c">
          <h2 class="glass-title fw-medium fs-sm-1_5">Celluloid Combi</h2>
          <h3 class="glass-span fs-sm-1_5">賽璐珞鈦金屬混合鏡框</h3>
        </div>
      </div>
      <div class="row g-top-5 g-top-sm-1_5">
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-5.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-6.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-7.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-8.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-9.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-10.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-11.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
        <div class="col-3 col-md-6 col-sm-4">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-12.png"
            alt=""
            class="w-100"
          />
          <div class="d-flex">
            <h3 class="fs-1_5">BJ41600S</h3>
            <p class="ml-auto text-primary fs-1_5 fw-medium">NTD3,490</p>
          </div>
          <div class="d-flex">
            <div class="box box-dark mr-0_5"></div>
            <div class="box box-light"></div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/pagination'); %> <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
